.container {
    display: flex;
}

.container img{
    width: 100%;
    height: 600px;
}

.Banner-text {
    position: absolute;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
    padding-left: 120px;
    color: #fff;
}

.Banner-text h5{
    font-size: 16px;
}

.Banner-text h1{
    font-size: 56px;
    font-weight: 700;
}

.Banner-text h4{
    font-size: 20px;
    font-weight: 400;
}

.Banner-text button{
    padding: 15px 40px 15px 40px;
    background-color: #2DC071;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

.navigation img{
    position: absolute;
}

.navigation .pre img{
    width: 23.87px;
    height: 44.07px;
    top: 400px;
    left: 28px;
    cursor: pointer;
}

.navigation img{
    width: 23.87px;
    height: 44.07px;
    top: 400px;
    left: 1180px;
    cursor: pointer;
}
